<div class="container">
  <div class="row">
    <div class="col">
      <div class="media g-mb-30 media-comment">
        <div class="position-relative">
          <img
            class="d-flex g-width-50 g-height-50 rounded-circle mr-5 avatar"
            [src]="
              post.owner.avatar_url
                ? baseURL + post.owner.avatar_url
                : 'https://bootdey.com/img/Content/avatar/avatar7.png'
            "
            alt="Image Description"
          />
        </div>
        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
          <div class="g-mb-15">
            <h5 class="h5 g-color-gray-dark-v1 mb-0">
              {{ post.owner.email }}
            </h5>
            <span class="g-color-gray-dark-v4 g-font-size-12">{{
              post.created_at | date : "medium"
            }}</span>
          </div>
          <div>
            <h6 class="h6 g-color-gray-dark-v1 mb-0">{{ post.title }}</h6>
          </div>
          <div *ngIf="post.image" class="mt-3">
            <img [src]="baseURL + post.image" alt="post" class="post-image" />
          </div>
          <p
            class="mt-3"
            [innerHTML]="
              post.content.length > 200 && !showMore
                ? post.content.substring(0, 200) + '...'
                : post.content
            "
          ></p>
          <ul class="list-inline my-0 d-flex justify-content-between flex-wrap">
            <li
              class="list-inline-item g-mr-20 show-more"
              *ngIf="post.content.length > 200"
            >
              <button
                class="text-info btn btn-outline"
                (click)="showMore = !showMore"
              >
                <i class="fa fa-circle-info g-pos-rel g-top-1 g-mr-3"></i>
                <span *ngIf="!showMore"> show more. </span>
                <span *ngIf="showMore"> hide. </span>
              </button>
            </li>
            <li
              class="list-inline-item ml-auto"
              *ngIf="post.owner._id === user.id"
            >
              <a class="text-warning" [routerLink]="'/home/post/edit/' + post._id">
                <button class="btn btn-outline text-warning">
                  <i class="fa fa-pen-to-square g-pos-rel g-top-1 g-mr-3"></i>
                  Edit
                </button>
              </a>

              <!-- <a href="#!"> -->
              <button
                class="btn btn-outline ml-3 text-danger"
                [attr.data-target]="'#post' + post._id"
                data-toggle="modal"
              >
                <i class="fa fa-trash g-pos-rel g-top-1 g-mr-3"></i>
                Delete
              </button>
              <!-- </a> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  [id]="'post' + post._id"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Delete post</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>{{ post.title }}</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="deletePost.emit(post._id)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
