<app-message
  *ngIf="response.status && response.message"
  [status]="(response.status)"
  [message]="(response.message)"
></app-message>

<app-post-detail
  *ngFor="let post of posts"
  [post]="post"
  [user]="user"
  (deletePost)="onDeletePost($event)"
>
</app-post-detail>
<p class="text-warning text-center mt-2">
  {{ warning }}
</p>
<div *ngIf="posts.length === 0">
  <h2 class="text-center mt-5 text-warning">Not found any post</h2>
</div>
<div class="text-center my-5">
  <button class="btn btn-warning" (click)="onLoadMore()">Load more</button>
</div>
